<!DOCTYPE html>
<html ng-app="app">
    <head>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.4/angular.js"></script>
        <link rel="stylesheet" href="main.css" type="text/css" />
    </head>
    <body ng-controller="ctrl">
        
        <div class="container">
            <div ng-show="show">
                
                <form>
                    Username: <input ng-model="name" placeHolder="username"></input>    
                    Favorite Books: <input ng-model="favbooks" placeHolder='favorite books'></input>
                    Favorite JS Libraries: <input ng-model="libs"placeHolder='favorite javascript libraries'></input>
                    Bio: <input ng-model="about" placeHolder='bio'></input>
                    <button ng-click='update()'>Submit</button>
                </form>
                <button ng-click="hide()" class='floatRight'>Hide Form</button>
                
            </div>
            <div>   
                <img src="https://i.vimeocdn.com/portrait/10248441_300x300.webp">
                <!--Username:-->
                <h1>{{ username }}</h2>
                <!--Books:-->
                <h2>{{ books }}</h2>
                <!--Libraries:-->
                <h3>{{ libraries }}</h3>
                <!--Bio:-->
                <p>{{ bio }}</p>
                <button ng-show="!show" ng-click="hide()" class="floatRight">Edit</button>
            </div>
            
        </div> 

        <script type="text/javascript" src="main.js"></script>
    </body>
</html>